/* BASE SELECTORS */

* {
  box-sizing: border-box;
}

body, html{
    min-height:100%;
    min-width:100%;
}

body {
  margin: 0;
  font-family: 'Armata', sans-serif;
}

/*
RANDOM COLORS I MAY NEED TEMPORARILY
#50c450  #5673a3;
*/

h1, h2, img, a {
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

h1 {
  margin: 0px;
  padding-top:275px;
  font-size: 6em; /*60px = 60/16*/
  /*text-shadow: 1px 1px #567390;*/
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
  font-size: 2.4em;
  margin-bottom: 50px;
  /*text-shadow: 1px 1px #567390;*/
  text-shadow: 0 .5px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1.5px 0 #bbb,
               0 2px 0 #b9b9b9,
               0 2.5px 0 #aaa,
               0 3px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

ul {
  list-style-type: none;
  margin: 75px 0 75px 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 15px 0 15px;
  font-size: 1.7em;
  font-weight: bold;
}

a {
  color: white;
  text-shadow: 1px 1px #567390;
  text-decoration: none;
  text-align: center;
  padding: 0px;

}

a:hover {
  text-decoration: underline;
}

/* CLASS SELECTORS */

.main-section {
  background-color: #435b82;
  background-size: 100%; /* Chrome requires size declaration */
  background-image: url("../img/macbook-header.jpg");
  background-size: cover;
  background-position: 0 35%;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Armata', sans-serif;
  color: white;
  padding-bottom: 101px;
}

.avatar {
  border: solid #5673f3 3px;
  border-radius: 100%;
  height: 150px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* ANIMATION STUFF */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*.arrow {
  height: 120px;
  width: 120px;
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 0;
}

.arrow:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}*/

/* Media */
